extends base

block content

  main.main
    .user-view
      .user-view__menu
        ul.side-nav
          li
            a(href='me')
              i.bi.bi-gear-fill
              |  Settings
          li
            a(href='allProducts')
              i.bi.bi-ui-checks-grid
              |  Products
          li
            a(href='allUsers')
              i.bi.bi-people-fill
              |  Users
          li.side-nav--active
            a(href='allOrders')
              i.bi.bi-list-check
              |  Orders
      .user-view__content
        .user-view__form-container.user-profile
          .container-orders
            each order in orders 
              .order-user.price-button
                .order-info
                each product in products
                  .profile-order.pro-card
                    img(src=`/images/products/${product.images[0]}` alt=`${product.title}`)
                    .details-order
                      h5.product-title= product.title
                      .price-button
                        span= `${product.price} EGP`
                      //- a.detail(href=`/products/${product.id}`) Details
                button.deleteOrderBtn(data-order-id=`${order.id}`) delete

